/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

:root {
  --focus-color: #78aeda;
  --selection-background: #ffdc05;
  --selection-color: #3d3a36;
}

body {
  padding: 0;
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.clone {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

input:focus, a:focus, button:focus {
  outline: var(--focus-color) solid 3px;
}

::-moz-selection {
  color: var(--selection-color);
  background: var(--selection-background);
}

::selection {
  color: var(--selection-color);
  background: var(--selection-background);
}
